$pageWidth: 860px;
$mobileBreakpoint: 480px;
$tabletBreakpoint: 1024px;
$sidePanelWidth: 440px;
$topSpacing: 6rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
